<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/common.css">
  <title>Button</title>
</head>

<body style="padding: 36px;">
  <div class="button-container">
    <div class="m-btn primary-btn">Button</div>
    <div class="m-btn secondary-btn">Button</div>
    <div class="m-btn link-btn">Button</div>
    <div class="m-btn icon-btn">&times</div>

    <div class="m-btn primary-btn">Nội dung dài</div>
    <div class="m-btn secondary-btn">Nội dung dài</div>
    <div class="m-btn link-btn">Nội dung dài</div>

    <div class="m-icon"></div>
    <div class="m-close-btn"></div>
    <div class="m-help-btn"></div>

    <!-- context button start -->
    <div class="m-context-menu-btn">
      <div class="m-context-menu-btn__label">Sửa</div>
      <div class="m-context-menu-btn__icon">
        <div class="m-context-menu">
          <div class="m-context-menu-item">
            <div class="m-context-menu-item__text">Nhân bản</div>
          </div>
          <div class="m-context-menu-item">
            <div class="m-context-menu-item__text">Xóa</div>
          </div>
          <div class="m-context-menu-item">
            <div class="m-context-menu-item__text">Ngưng sử dụng</div>
          </div>
        </div>
      </div>
    </div>
    <!-- context button end -->
  </div>
</body>

</html>