.m-button-container {
  font-size: 0px;
  word-spacing: 0px;
  letter-spacing: 0px;
}

.m-btn {
  display: inline-block;
  height: 36px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  line-height: 36px;
  padding: 0px 16px;
  cursor: pointer;
}

.m-btn label {
  cursor: pointer;
}

.primary-btn {
  min-width: 80px;
  background: var(--btn-primary-color);
  color: #fff;
}

.primary-btn:hover {
  min-width: 80px;
  background-color: var(--btn-primary-hover-color);
}

.secondary-btn {
  min-width: 80px;
  background-color: #fff;
  color: var(--wcag-primary-text-color);
  border: 1px var(--wcag-border-color) solid;
}

.secondary-btn:hover {}

.link-btn {
  min-width: 80px;
  color: var(--btn-primary-color);
}

.link-btn:hover {}

.icon-btn {
  width: 36px;
  padding: 0px 8px;
  font-size: 20px;
  color: var(--btn-primary-color);
  background-color: var(--btn-icon-color);
}

.icon-btn:hover {}

.m-icon {
  cursor: pointer;
  opacity: 1;
}

.m-icon:hover {
  opacity: 0.56;
}

.m-close-btn {
  background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -144px -144px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.m-help-btn {
  background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -88px -144px;
  width: 24px;
  height: 24px;
  display: inline-block;
}


/* context menu button */
.m-context-menu-btn {
  margin-left: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.m-context-menu-btn__label {
  padding: 8px;
}

.m-context-menu-btn__icon {
  position: relative;
  background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -896px -360px;
  width: 18px;
  height: 18px;
  display: inline-block;
  padding: 8px;
}

.m-context-menu-btn__icon:hover {
  border: 1px solid var(--wcag-border-color);
}

.m-context-menu-btn__icon:hover .m-context-menu {
  /* display: block; */
}

.m-context-menu-btn .m-context-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}